@tailwind base;
@tailwind components;
@tailwind utilities;

.blackCell {
    background-color: rgb(44, 44, 44);
}

.whiteCell {
    background-color: rgb(212, 210, 210);
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
}